* {
    box-sizing: border-box;
    margin: 0px;
    
}

body {
    background-image: url(abu-dhabi.png);
    
    
    
}

main {
    margin-top: 15%;
}
.container {
    display: flex;

}

/* .hidden {
    display: none;
} */


li {
  list-style-type: none;
}
.time{
    margin-left: auto;
}

/* div p {
    width: 50%;
    border: 5px solid black;
    
} */

.title {
    margin-top: 5%;
    text-align: center;
}


#questions , #highScore, #finalScore{
    visibility: hidden;
    width: 50%;
    margin: auto;
    text-align: center;
    /* border: 5px solid black; */
    
}

#homePage {
    visibility: visible;
    width: 50%;
    margin: auto;
    text-align: center;
    /* border: 5px solid black; */

}





p, h1 {

    width: 50%;
    margin: auto;
    text-align: center;
    /* border: 5px solid black; */
}