* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-image: url(abu-dhabi.png);
    font-size: larger;
    
    
    
}
header {
    color: #ecec05;
}

main {
    margin-top: 15%;
}
.container {
    display: flex;

}

button { 
    font-size: 1.5rem;
    background-color: #000000;
    color: #ecec05;
    border-radius: 20%;
}

/* .hidden {
    display: none;
} */


li {
  list-style-type: none;
}
.time{
    margin-left: auto;
}

/* div p {
    width: 50%;
    border: 5px solid black;
    
} */

.title {
    margin-top: 5%;
    text-align: center;
    color: white;
}

#title {
    margin-bottom: 1%;
}


#questions {
    display: none;
    /* visibility: hidden; */
    width: 50%;
    margin: auto;
    text-align: center;
    /* border: 5px solid black; */
    
}

#highScore{
    display: none;
    /* visibility: hidden; */
    width: 50%;
    margin: auto;
    text-align: center;
    /* border: 5px solid black; */
}

#finalScore{
    display: none;
    /* visibility: hidden; */
    width: 50%;
    margin: auto;
    text-align: center;
    /* border: 5px solid black; */
}


#homePage {
    display: block;
    /* visibility: visible; */
    width: 50%;
    margin: auto;
    text-align: center;
    /* border: 5px solid black; */

}

#gameScore {
    margin-bottom: 1%;
}



p, h1 {

    width: 50%;
    margin: auto;
    text-align: center;
    /* border: 5px solid black; */
}